*.sh text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
bin/* text eol=lf
bin/windows/* text eol=crlf
extras/https-time-sync text eol=lf
extras/*.service text eol=lf
*.md text eol=lf
*.yml text eol=lf
